/*paddin or margin: em 
font size: rem
width : porcentaje
no funciona la configuracion de los inputs ni selec
interlineado
checkbox
contorno funciona pero no vuelve para atras*/

/* deja siempre un espacio entre el selector y la llave
* {
header {
.container { */
*{
    margin: 0;
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}

/* -------------------------HEADER---------------------------------------------------*/
header{
    /* innecesario */
    width: 100%;
    height: 10%;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--fondoHeader);
    color: var(--colorLetra)

}

.titulo{
    /* 2.5rem, sin mayuscula */
    font-size: 2.5Rem;  
    margin-bottom: 1%;
}

/*-------------------Botones header---------------------*/
/* esta clase no se esta aplicando, porque en HTML se llama botonesHeader y aca botonesheader
igual no la necesitas! */
.botonesheader{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* innecesario */
    flex-direction: row

}

.botonHeader{
    background-color: var(--fondoHeader);
    transition: background-color 0.2s
}

.botonHeader:hover{
    background-color:var(--colorHover);
}

button{
    background-color:var(--colorMain);
    border: none;
    color: var(--colorLetra);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    height: 1.7em;
    margin: 2px;
   
}

button:hover{
    background-color: var(--colorHover);
}

i{
    margin: 7px;
}
/* ---------------------------------------MAIN---------------------------*/

main{
    background-color: var(--fondoMain);
    /* innecesario */
     width: 100%;
    height: 100vh ;
    display: flex;
    align-items: center;
    flex-direction: column;
   }
/* ojo con el tabulado, esto no deberia estar tan a la derecha! */
  .container{
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
        margin-bottom: 3%;
        }
        
   .cajaTexto{
      
       width: 100%;
   
   }

/* -------------------------contenedor de la imagen------------------------*/
 #imagenMeme{
         width: 100%;
        height: 90%;
        background-color: black;
 }

 .fondoTransparente{
     background-color: transparent;
 }

 /* --------------------------caja -texto --------------------------*/
.cajaTexto{
    /* innecesario */
    width: 100%;
    height: 20%;
    background-color: white;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.parrafo{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.alineacionIzquierda{
    text-align: left;

}
.alineacionCentro{
    text-align: center;

}
.alineacionDerecha{
    text-align: right;

}
     /*------------------ Boton main-----------------------*/

     .descargar{
         background-color:#2e7d32;
         color: white;
         height: 3em;
     }
     .descargar:hover{
        background-color:#105813;
       
    }
    #botonDescargarText{
        width: 100%;
        height: 100%;
        font-size: 1rem;
       
    }
  /* ----------------------------------ASIDE------------------------------------------*/
aside{
        background-color: var(--aside);
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        color: var(--colorLetra);
        width: 17%;
        height: 100%;   
        display: flex;
        overflow: auto;
        box-shadow: -10px 10px 100px 5px rgb(0 0 0 / 30%);
        justify-content: space-between;   
        flex-direction: column;
        padding: 1%;
}
/* no dejes codigo comentado en una entrega */
/*#botonCerrar{
    border: none;
    background-color: var (var(--aside));
    color: var(--colorLetra);
    cursor: pointer;
}*/
h2{
    /* innecesario, flex es para elementos con hijos!!! */
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    font-weight:bolder;
    margin-bottom: 3%;
}
.inputDivs{
    background-color: var(--fondoMain);
    border: none;
    border-radius: 3px;
    color: var(--colorLetra);
    height: 1.7em;
    width: 100%;
    padding: 0.3em;
    cursor: pointer;
    transition: 0.2s;
    margin: 2px;
    
}
.inputDivs:hover{
    background-color:var(--colorHover);
   
}

.mezcladores{
    border: none;
    border-radius: 150px;
}
H3{
    margin-top: 4%;
    margin-bottom: 4%;
}
label{
    margin-bottom: 2%;
    margin-top: 4%;
    font-size: 0.8rem;
}
/*---------------------------------------------ASIDE TEXTO----------------------------*/
/*----------------ingresar texto-------------------*/
.section-aside-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    padding: 5%;
}
 .ingresarTexto{
     width: 100%;
     height: 60%;
     
  
 }
/*----------------checkbox-------------------*/
.checkbox{
    margin-right: 10px;

}
.div-checkbox{
    display: flex;
    /* innecesario */
    flex-direction: row;
   
}

.buttons-container{
    display: flex;
        /* innecesario */
    flex-direction: row;
}
/*----------------tamaño e interlineado-------------------*/
.flex-container{
    display: flex;
        /* innecesario */
    flex-direction: row;
    /* no existe la orden flex grow 1 */
    flex: grow 1;

}
.button-default{
    margin: 1px;
    display: flex;
    /* ojo, aca dejas dos punto y coma, eso es un error */
    flex: grow 1;;
}
/* ojo!! aca vscode te esta avisando que esto esta mal, no estas cerrando ninguna llave! */
}
/*----------------color-fondo------------------*/

.panel-control-columns{
    display: flex;
        /* innecesario. por que el elemento se llama columnas si la orden es row??? */
    flex-direction: row;
    
}
.divPanelControl{
    display: flex;
    justify-content: space-between;
}
/*----------------contorno-----------------*/
.sinContorno{
    text-shadow: none;

}
.contornoClaro{
    text-shadow: rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) 2px -2px, rgb(255, 255, 255) -2px -2px;

}

.contornoOscuro{
    text-shadow: rgb(0 0 0) 2px 2px, rgb(0 0 0) -2px 2px, rgb(0 0 0) 2px -2px, rgb(0 0 0) -2px -2px;
}
/*---------------------------------ASIDE IMAGEN -----------------------------------*/
.section-aside-img{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
        /* innecesario */
    overflow: auto;
    
}
    
/*----------------color fondo-------------------*/
.colorFondo{
    display: flex;
        /* innecesario */
    flex-direction: row;
    justify-content: space-between;
}
.cajaColorImg{
    width: 50%;
    display: flex;
    flex-direction: row;
}
#blend-mode-select{
    width: 50%;
}
/*----------------filtros-------------------*/
.filtros{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.cajaFiltro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4%;
}
.panel-control-input {
    width: 100%;
    height: 36px;
    background-color: var(--color-boton-default);
    border-radius: var(--border-radius);
    transition: background-color 0.2s;
    padding: 5px 10px;
    margin-bottom: 5px;
}

input[type='range'] {
    width: 90%;
    background-color: #5a5d68;
    border-radius: 10px;
    appearance: none;
    height: 6px;
    margin-top: 2%;
    color: var(--colorLetra);
}
input[type='range']:focus{
    background-color:gray;
}

/*----------------INPUT RANGOS-------------------*/
input[type="range"]::-webkit-slider-thumb{ 
    -webkit-appearance: none; 
    height: 16px;
     width: 16px; 
     border-radius: 25px;
      background: var(--colorLetra);
       cursor: pointer;
    }

/*----------------boton reestablecer filtros------------------*/
    #reestablecerFiltros{
        height: 2em;

    }


/* --------------------ocultar------------------------------------*/
.ocultar {
    display: none;
  }

  /*-------------------MODO OSCURO/CLARO----------------*/
  .dark-mood {
    --fondoHeader: #191e2b;
    --fondoMain: #393e49;;
    --colorLetra:white;
    --aside:#252935 ;
    --fondoInput:#393e49;
    --colorHover: #4E5565
   
  }

  .ligth-mood {
    --fondoHeader: #E0E0E0;
    --fondoMain: #EEEEEE;
    --colorLetra: #424242;
    --aside: #ffff;
    --fondoInput:#EEEEEE;
    --colorHover:gray
  
  }

  input{
      color: var(--colorLetra);
  }
  
    /*-------------------responsive---------------*/
    /* ojo con el tabulado, todo lo que esta dentro de una media query debe estar dos espacios a la derecha */
@media (max-width: 500px){
.container{
    width: 90%;
    height: 70%;
    
}
.cajaTexto{
    height: 10%
}

aside{
    width: 100%;
    display: flex;
    align-items: center;

}
.titulo{
    font-size: 1.5rem;
}
}